*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.inter-unique {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
 
 
 header{
  background-color: #FFFFFF;
  padding-top: 16px;
  margin: 0 auto;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  

  }
  .logo img{
    width: 139px;
  }
.menu{
  display: flex;
  list-style: none;
  align-items: center;
}
.menu li{
  margin-left: 32px;

}
.menu li a{
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 365;


}
.menu li a:hover{
   color:#28a745;
}
.btn{
  background-color:#469165 ;
  color: white;
  border: none;
  padding: 16px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  

}
.hero-section{

padding: 120px 20px;
display: flex;
min-height: 100vh;
  
  text-align: center;
  justify-content: center;
  background: url("../assets/hero-bg.png");
  background-size:1600px;
  background-size: cover;
  

  
  
  
  
}
.container{
  max-width:1100px;
  margin: 0 auto;
  padding: 0 20px;
  
}
.badge{
  display: inline-block;
  background-color: white;
  border: 1px #dcfce7;
  padding: 8px 12px;
  border-radius: 1000px;
  margin-bottom: 16px;
  margin-top: 115.5px;


}
.badge span{
  color:#22c55e;
  font-size: 14px;
  font-weight: 500;

}
.badge::before{
  content: "";
  width: 8px;
  height: 8px;
  background-color: #2ecc71;
  border-radius: 50px;
  display: inline-block;
}
.hero-content h1{
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.2;
}
.highlight{
  color: #30B868;
  display: block;
} 
.hero-content p{
  font-size: px;
  color: #FFFFFF;
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.6;
}
.button{
  display: flex;
  justify-content:center;
  gap: 16px;
  padding-bottom: 1px;

  
  

}
.button a{
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
  

}
.button .btn-first{
  color: #FFFFFF;
  background-color: #30B868;
  
  border: none;
  padding: 16px 46px 16px 16px;
  border-radius: 4px;
  
}
 .button .btn-second{ 
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid white;
  padding: 16px 46px 16px 16px;
  border-radius: 4px;
}
