*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Inter", sans-serif ;
  
}

.inter-unique {
  font-family:"Inter", sans-serif ;
  font-optical-sizing: auto;

}
 
 
 header{
  background-color: #FFFFFF;
  padding-top: 16px;
  margin: 0 auto;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  
  
  

  }
  .logo img{
    width: 139px;
    padding: 16px 12px;
  }
.menu{
  
  display: flex;
  list-style: none;
  align-items: center;
}
.menu li{
  margin-left: 32px;
  

}
.menu li a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;


}
.menu li a:hover{
    color: #1e40af;
}
.btn{
  background-color:#469165 ;
  color: white;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  

}
.btn:hover{
  background-color: #1e40af;
}
.hero-section{

padding: 150px 20px;
display: flex;
min-height: 100vh;
  
  text-align: center;
  justify-content: center;
  background: url("../assets/hero-bg.png");
  background-size:1200px;
  background-size: cover;
  

  
  
  
  
}
.container{
  max-width:1360px;
  margin: 0 auto;
  padding: 0 20px;
  
}
.badge{

  display: inline-block;
  background-color: #FFFFFF;

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(5px);
  border: 1px #dcfce7;
  padding: 8px 12px;
  border-radius: 1000px;
  margin-bottom: 16px;
  margin-top: 115.5px;


}
.badge :hover{
  color: #1e40af;
  
}
.badge span{
  color: #30b868;
  font-size: 16px;
  font-weight: 500px;
  
  

}
.badge::before{

  
  content: "";
  width: 12px;
  height: 12px;
  background-color: #30B868;
  border-radius: 50px;
  display: inline-block;
  margin-right: 8px;
  box-shadow: 0 0 8px rgba(46, 204, 113, 0,6);
  opacity: ;
  

}

.hero-content h1{
  width: 100%;
  max-width:770px;
  line-height: 87px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 60px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  
  
  margin-bottom: 20px;
  line-height: 1.2;
}
.highlight{

  
  color: #30B868;
  display: block;
} 
.hero-content p{
  
  font-size: 18px;
  
  color: #FFFFFF;
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.6;
  display: block;
}
.button{
  display: flex;
  justify-content:center;
  gap: 1px;
  

  
  

}
.button :hover{
  color: #1e40af;
  
}
.button a{
  color: #FFFFFF;
  text-decoration: none;
  padding:16px 16px;
  border-radius: 6px;
  font-weight: 500px;
  font-size: 16px;
  transition: 0.3s;
}


  


.button .btn-first{
  color: #FFFFFF;
  background-color: #30B868;
  
  border: none;

  border-radius: 4px;

  


  
}


  


 .button .btn-second{ 
  display: inline-flex;
  align-items: center;
  
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;

}
.btn-second a{
  align-items: center;
  padding: 16px 12px;
  gap: 10px;



}
#cards{
  
  padding: 40px;
  
}
.cards-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  
  
}
.cards-heading{
  width: 85%;
  max-width: 1360px;
  padding-bottom: 44px;

}
.section-heading h2{
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 16px;
}
.section-heading p{
  color: #627382;
  font-size: 16px;
  padding-bottom: 44px;
  
}
.cards-box{
  display: flex;
  gap: 24px;

}
.card img{
  background-color:#F95555;
  border-radius: 1000px;
  padding: 10px;
  width: 40px;
  
  
}
.card{
  padding: 69.5px 24px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  color: #FFFFFF;
  max-width: 322px;

}
.card h4{
  font-size: 24px;
  padding: 14px 24px;
  color: #001931;
}
.card p{
  font-size: 16px;
  color: black;

}
.solution{
  padding: 120px;
  background-color: #FFFFFF;
}
.solution-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.solution-image{
  width: 100%;
  max-width: 600px;

}
.solution-content{
  flex: 1;
}
.sub-heading{
  padding-top: 102px;
  color: #30B868;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  
  
  
}
.solution-heading h2{
  padding-bottom: 16px;
  padding-top: 16px;
  color: #001931;
  
  font-size: 48px;
  font-family: 700px;

}
.solution-heading p{
  padding-bottom: 16px;
  color: #627382;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  

}
.features-list{
  padding-top: 40px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 600px;
  
}
.features-list li{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
  gap: 12px;

  
}
.features-list img{
  width: 16.25px;
  height: 16.25px;
  
}
.cta-section{
  padding-top: 40px;
  padding-bottom: 120px;
}
.cta-container{
  width: 85%;
  max-width: 1360px;
  background-color: #F7F6F2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.cta-heading{
  text-align: center;

  
}
.cta-heading h2{
  padding-top: 80px;
  font-size: 40px;
  font-weight: 700px;
  color: #000000;
}
.cta-heading p{
  color: #627382;
  padding-top: 16px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;

}
.cta-btn{
  background-color:#30B868;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  padding: 16.5px 16px;
  border: 0;
  

}
.cta-btn:hover{
  background-color: #1e40af;
}
.s{
  color: #627382;
  padding-bottom: 80px;
  padding-top: 16px;
}
.footer-container{
  background-color: #00122e;
  color: white;
  padding:60px 8% 30px 8% ;


}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
.footer-logo{
  padding-left: 120px;
}
.social-section{
  padding-right: 227px;
}
.social-title{
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 500px;
  
  color: #FFFFFF;
}

.footer-line{
  border: 0;
  border-top: 1px solid #1e293b;
  margin-bottom: 35px;
  margin: 0 auto;

  opacity: 0.5;
  max-width: 1360px;
  align-items: center;
}
.footer-bottom{
  text-align: center;
  font-size: 16px;
  font-weight: 400px;
  color: #fafafa;
  line-height: 24px;
}
.copy{
  padding-top: 30px;
}
