*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.inter-unique {
  font-family:"Inter", sans-serif ;
  font-optical-sizing: auto;

}
 
 
 header{
  background-color: #FFFFFF;
  padding-top: 16px;
  margin: 0 auto;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  

  }
  .logo img{
    width: 139px;
  }
.menu{
  display: flex;
  list-style: none;
  align-items: center;
}
.menu li{
  margin-left: 32px;

}
.menu li a{
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 365;


}
.menu li a:hover{
   color:#28a745;
}
.btn{
  background-color:#469165 ;
  color: white;
  border: none;
  padding: 16px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  

}
.hero-section{

padding: 150px 20px;
display: flex;
min-height: 100vh;
  
  text-align: center;
  justify-content: center;
  background: url("../assets/hero-bg.png");
  background-size:1200px;
  background-size: cover;
  

  
  
  
  
}
.container{
  max-width:1360px;
  margin: 0 auto;
  padding: 0 20px;
  
}
.badge{
  display: inline-block;
  background-color: white;
  border: 1px #dcfce7;
  padding: 8px 12px;
  border-radius: 1000px;
  margin-bottom: 16px;
  margin-top: 115.5px;


}
.badge span{
  color:#22c55e;
  font-size: 14px;
  font-weight: 500;

}
.badge::before{
  content: "";
  width: 8px;
  height: 8px;
  background-color: #2ecc71;
  border-radius: 50px;
  display: inline-block;
}
.hero-content h1{
  color: #FFFFFF;
  font-family:"Inter", sans-serif ;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.2;
}
.highlight{
  color: #30B868;
  display: block;
} 
.hero-content p{
  font-family: "Inter", sans-serif;
  font-size: px;
  color: #FFFFFF;
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.6;
}
.button{
  display: flex;
  justify-content:center;
  gap: 16px;
  padding-bottom: 1px;

  
  

}
.button a{
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
  

}
.button .btn-first{
  color: #FFFFFF;
  background-color: #30B868;
  
  border: none;
  padding: 16px 46px 16px 16px;
  border-radius: 4px;
  
}
 .button .btn-second{ 
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid white;
  padding: 16px 46px 16px 16px;
  border-radius: 4px;
}
#cards{
  padding-top: 40px;
  
}
.cards-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  
  
}
.cards-heading{
  width: 85%;
  max-width: 1360px;
  padding-bottom: 44px;

}
.cards-container h2{
  font-size: 48px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  padding-bottom: 16px;
}
.cards-heading p{
  font-size: 16px;
  padding-bottom: 44px;
}
.cards-box{
  display: flex;
  gap: 24px;

}
.card img{
  background-color:#F95555;
  border-radius: 1000px;
  padding: 10px;
  width: 40px;
  
  
}
.card{
  padding: 69.5px 24px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  color: #FFFFFF;
  max-width: 322px;

}
.card h4{
  font-size: 24px;
  font-family: "Inter", sans-serif;
  padding: 14px 24px;
  color: #001931;
}
.card p{
  font-size: 16px;
  color: #62732;

}
.solution{
  padding: 120px;
  background-color: #FFFFFF;
}
.solution-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
.solution-image{
  width: 100%;
  max-width: 600px;

}
.solution-content{
  flex: 1;
}
.sub-heading{
  padding-top: 102px;
  color: #30B868;
  font-size: 16px;
  font-weight: 500px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  
  
}
.solution-heading h2{
  padding-bottom: 16px;
  padding-top: 16px;
  color: #001931;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-family: 700px;

}
.solution-heading p{
  padding-bottom: 16px;
  color: #627382;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  font-family:"Inter", sans-serif ;

}
.features-list{
  padding-top: 40px;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600px;
  
}
.features-list li{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
  
}
.features-list li::bofore{
  content:"✔";
  font-size: 24px;
  font-weight: bold;
  


}
.check{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  background-color: #30B868;
  color: #FFFFFF;
  border-radius: 50%;
  margin-right: 12px;
  font-size: 8px;

}
.cta-section{
  padding: 120px;
}
.cta-container{
  width: 85%;
  max-width: 1360px;
  background-color: #F7F6F2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-heading{
  text-align: center;

  
}
.cta-heading h2{
  padding-top: 80px;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700px;
  color: #000000;
}
.cta-heading p{
  color: #627382;
  padding-top: 16px;
  padding-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;

}
.cta-btn{
  background-color:#30B868;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  padding: 16.5px 38px 16.5px 16px;
  border: 0;
  

}
.cta-btn:hover{
  background-color: #1e40af;
}
.s{
  color: #627382;
  padding-bottom: 80px;
  padding-top: 16px;
}